.about-me {
    height: auto;
    display: block;
    z-index: -1;
}

.my-image {
    width: 20vw;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    float: right;
}

.about-me-white-container {
    background-color: white;
    border-radius: 25px;
    max-width: 90%;
    max-height: auto;
}

.welcome {
    padding: 1rem;
}

.welcome h1 {
    color: #015249;
    display: block;
}

.welcome p {
    font-size: 15.5px;
    display: block;
    letter-spacing: 1px;
    line-height: 25px;
}

.skillset-row {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.skillset-col {
    flex: 1;
}

.skillset-col h2 {
    margin: 1rem;
}

.skillset-col li {
    font-size: 1rem;
    line-height: 25px;
}

/*Special Adjustments*/
@media screen and (max-width: 710px) {
    .my-image {
        min-width: 65%;
        padding: 3rem;
    }
}