/*======================
    Navigation Bar
======================*/
/*Navigation Bar*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    padding: 0.5% 0.5%;
    background-color: #FFFFFF;
}

/*Content For The Navigation Bar*/
.nav-link {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.nav-link a {
    color: #015249;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.4s ease 0s;
}

.nav-link a:hover {
    color: #A5A5AF;
}

/*Logo*/
.logo {
    margin-right: auto;
    width: auto;
    height: fit-content;
    z-index: 1;
}

/*======================
    Mobile Styling
======================*/
/*Kian Lak*/
.my-name {
    display: none;
    color: #015249;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 30px;
    margin-right: 32.5%;
}

/*Dropdown*/
.dropdown {
    display: none;
    cursor: pointer;
}

.dropdown div {
    width: 25px;
    height: 3px;
    background-color: #015249;
    margin: 5px;
    transition: all 0.3s ease;
}

/*Special Adjustments*/
@media screen and (max-width: 710px) {
    nav {    
        justify-content: center;
    }

    /*Sets Up Content For Dropdown*/
    .nav-link {
        position: absolute;
        right: 0px;
        height: 91vh;
        top: 7vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-150%);
        transition: transform 0.4s ease-in;
        background-color: #FFFFFF;
    }

    /*Removes Contents On Navigation Bar*/
    .nav-link li {
       opacity: 0;
    }

    /*Page Filler For Mobile*/
    .my-name {
        display: block;
        font-weight: bold;
        z-index: 1;
    }

    /*Displays Dropdown*/
    .dropdown {
        display: block;
    }
}

/*Active Mobile Dropdown*/
.nav-active {
    transform: translateY(0%);
}

/*Animation Script For Content*/
@keyframes navLinkFadeIn {
    from { opacity: 0; transform: translateX(50px); }
    to { opacity: 1; transform: translateX(0px); }
}

/*Dropdown Animation*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}