/*  This file contains all of the navigation bars CSS styling*/

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1%;
}

.navbar a, button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.logo-container { 
    border-radius: 10px;
    background: #FFFFFF;
    padding: 15px;
    width: 25px;
    height: 30px;
    justify-content: center;
    margin-right: auto;
    cursor: pointer;
}

.logo { 
    width: 100%;
    object-fit: cover;
}

.navbar-list li { 
    display: inline-block;
    padding: 0px 20px;
}

.navbar-list a { 
    transition: all 0.3s ease 0s;
}

.navbar-list a:hover { 
    color: #0088A9;
}

.navbar-header button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navbar-header button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}