/*Navigation Bar*/
.navbar {
    background: #2D233D;
    height: 85px;   
    display: flex;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;   
}

/*Navigation Bar Container*/
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%;
    padding-left: 1rem;
}  

/*Rounded Brand Container*/
.rounded-brand-container {
    border-radius: 10px;
    background: #FFFFFF;
    padding: 15px;
    width: 25px;
    height: 30px;
    justify-content: center;
}

/*Brand Image Format*/
.brand {
    width: 100%;
    object-fit: cover;
}

/*Navigation Bar Options*/
.navbar-options {
    display: flex;
    list-style: none;
}
/*Content For Navigation Bar*/
.navbar-content {
    padding: 1rem;
}

/*Navigation Bar Text*/
.navbar-text {
    color: #D4BF9B;
    font-size: 1.5rem;
}